@\import "https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800&display=swap";

@\import "https://fonts.googleapis.com/icon?family=Material+Icons+Sharp";

@\import "https://malscraper.azurewebsites.net/covers/auto/presets/dataimagelinkafter";

:root {
    --main-font: 'Nunito Sans', sans-serif;
    --theme-accent: #4065BA;
    /*--theme-accent: purple;*/
    --accent-shadow: 0px 0px 8px 2px rgba(46,81,162,0.5);

    --header-background: rgb(245,245,245);
    --menu-background: rgba(255,255,255,0.8);
    --toolbar-button-background: rgb(245,245,245);
    --list-background: transparent;
    --light-gray: rgb(245,245,245);
    --gray-shadow: 0px 0px 8px rgba(0,0,0,0.175);

    --card-color: rgb(245,245,245);
    --card-hover-color: rgb(255,255,255);
    --card-hover-fade: 0.2s;
    --card-hover-animation: 0.75s cubic-bezier(0, 0.55, 0.45, 1);
    --card-hover-transform: translateY(-4px);

    --hover-transform: translateY(-2px);
    --transition-length: 0.2s;
    --transition-timing: cubic-bezier(0, 0.55, 0.45, 1);
}

body {
  font-family: var(--main-font);
  font-size: 12px;
  /*background-color: var(--background);*/
  background-size: cover;
}

/*HEADER*/
.header {
  width: auto;
  height: auto;
  padding: 20px 15vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background);
}

.header .header-title {
  position: initial;
  transform: scale(0.8) translateX(-24px);
}

.header .header-menu {
  position: initial;
  color: var(--theme-accent);
}

.header .header-info {
  margin: 5px 0px 0px 0px;
}

.header .header-menu .btn-menu, .header .header-menu .btn-menu > a, .header .header-info,  .header .header-info > a {
  color: var(--theme-accent);
}

#header-menu-dropdown {
  right: 15vw;
  top: 45px;
  border: 0px;
  background-color: var(--theme-accent);
  animation: expand-down 0.2s forwards;
  animation-timing-function: ease-out;
  box-shadow: var(--accent-shadow);
}

#header-menu-dropdown svg {
  transform: scale(0.75);
  fill: white;
}

#header-menu-dropdown span {
  font-size: 12px;
  font-weight: 700;
  color: white;
}

#header-menu-dropdown .icon-menu:hover {
  background-color: white;
}

#header-menu-dropdown .icon-menu:hover span {
  color: var(--theme-accent);
}

#header-menu-dropdown .icon-menu:hover svg {
  fill: var(--theme-accent);
}

.cover-block .image-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cover-block .image-container:hover .btn-list-setting {
  margin: 10px;
  right: initial;
  top: initial;
  transition: var(--transition-length);
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 700;
  display: flex;
}

.cover-block .image-container .btn-list-setting:hover .text {
  margin-left: 10px;
}

.cover-block .image-container .btn-list-setting:hover {
  right: initial;
  top: initial;
  background-color: var(--theme-accent);
  border: 1px solid transparent;
  box-shadow: var(--gray-shadow);
}

@keyframes expand-down {
   from { opacity: 0; transform: translateY(-10px);}
   to { opacity: 1; transform: translateY(0px);}
}

/*MENU BAR*/
.list-menu-float {
  height: auto;
  width: auto;
  top: 0;
  bottom: 30px;
  left: 30px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  border: 0px;
}

.list-menu-float .icon-menu {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--toolbar-button-background);
  box-shadow: var(--gray-shadow)
}

.list-menu-float .icon-menu:hover {
  box-shadow: var(--gray-shadow);
  transform: var(--hover-transform);
}

.list-menu-float .icon-menu:not(.profile):hover {
  width: 40px;
  background: var(--theme-accent);
}

.list-menu-float .icon-menu svg.icon {
  position: initial;
  transform: scale(0.75);
}

.list-menu-float .icon-menu:hover svg.icon {
  position: initial;
}

.list-menu-float .icon-menu:hover .text {
  width: 0;
}

.list-menu-float .icon-menu.profile::after {
  content: 'Profile';
}

.list-menu-float .icon-menu.quick-add::after {
  content: 'Quick Add';
}

.list-menu-float .icon-menu.anime-list::after {
  content: 'Anime List';
}

.list-menu-float .icon-menu.manga-list::after {
  content: 'Manga List';
}

.list-menu-float .icon-menu.history::after {
  content: 'History';
}

.list-menu-float .icon-menu.export::after {
  content: 'Export';
}

.list-menu-float .icon-menu.logout::after {
  content: 'Logout';
}

.list-menu-float .icon-menu:not(.setting)::after  {
  display: flex;
  position: absolute;
  padding-left: 15px;
  left: 40px;
  height: 100%;
  width: 0px;
  white-space: nowrap;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(0,0,0, 0.25);
  opacity: 0;
  transform: translateX(-10px);
  transition: var(--transition-length);
  visibility: collapse;
  color: var(--theme-accent);
}

.list-menu-float .icon-menu:not(.setting):hover::after  {
  width: auto;
  opacity: 1;
  transform: translateX(0px);
  visibility: visible;
  z-index: 1000;
}

.list-menu-float .icon-menu.setting .text {
  width: 0px;
  left: 40px;
  height: auto;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 12px;
  background-color: #4065BA;
  transition: var(--transition-length);
  transform: translateX(-10px);
}

.list-menu-float .icon-menu.setting:hover .text {
  width: auto;
  /*left: 40px;*/
  height: auto;
  box-shadow: 0px 2px 8px 2px rgba(64,101,186,0.5);
  transform: translateX(0px);
}

.list-menu-float .icon-menu.setting:hover .text .link-list-setting, .list-menu-float .icon-menu.setting:hover .text .link-style-setting {
  position: initial;
  width: auto;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: initial;
  padding: 10px;
  background-color: var(--theme-accent);
  color: white;
  transition: var(--transition-length);
}

.list-menu-float .icon-menu.setting:hover .text .link-list-setting:hover,.list-menu-float .icon-menu.setting:hover .text .link-style-setting:hover {
  background-color: white;
  color: var(--theme-accent);
}

.list-menu-float .icon-menu.setting .text .link-list-setting, .list-menu-float .icon-menu.setting .text .link-style-setting {
  width: auto;
  height: auto;
  padding: 10px;
}

.list-menu-float .icon-menu.setting:hover .text .link-list-setting::before {
  content: 'tune';
  font-family: "Material Icons Sharp";
  margin-right: 10px;
  font-weight: normal;
  font-size: 18px;
}

.list-menu-float .icon-menu.setting:hover .text .link-style-setting::before {
  content: 'palette';
  font-family: "Material Icons Sharp";
  margin-right: 10px;
  font-weight: normal;
  font-size: 18px;
}


.list-menu-float .icon-menu.setting:hover .text .link-style-setting {
  border-top: 1px solid rgba(255,255,255,0.4);
}

/*LIST*/
.list-container {
  width: auto;
  border: 0px;
  background: var(--list-background);
  background-size: contain;
  background-attachment: fixed;
}

/*STATUS MENU*/
.status-menu-container {
  width: 100%;
  height: auto;
  border: 0px;
  transition: var(--transition-length);
  backdrop-filter: blur(20px);
  background-color: var(--menu-background);
  z-index: 2;
  line-height: 1.5;
}

.status-menu-container.fixed {
  box-shadow: 0px 2px 8px rgba(0,0,0, 0.15);
}

.status-menu-container .status-menu {
  display: flex;
  margin: 0px 15vw;
  overflow-x: auto;
  white-space: nowrap;
}

.status-menu-container .status-menu .status-button {
  margin: 25px 20px;
  padding: 0px 0px 0px 0px;
  font-family: var(--main-font);
  color: rgb(175, 175, 175);
  font-size: 16px;
}

.status-menu-container .status-menu .status-button.on {
  font-weight: 700;
}

.status-menu-container .status-menu .status-button:after {
  height: 2px;
  bottom: -4px;
  box-shadow: 0px 1px 4px rgba(64,101,186,0.5);
  width: 0px;
  background-color: var(--theme-accent);
  transition: var(--transition-length);
  /*margin-top: 2px;*/
}

.status-menu-container .status-menu .status-button.on:after, .status-menu .status-button:hover:after {
  width: 100%;
}

.status-menu-container .search-container {
  position: initial;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0px 25px;
  flex-grow: 1;
}

.status-menu-container .search-container #search-button {
  margin-top: 0px;
}

.status-menu-container .search-container #search-box {
  margin-left: 0px;
  margin-top: 0px;
  height: 40px;
  transition: var(--transition-length);
}

.status-menu-container .search-container #search-box.open {
  width: 125px;
  margin-left: 15px;
}

.status-menu-container .search-container #search-box input {
  border-radius: 0px;
  background: rgba(240,240,240);
  border: 0px;
  outline: none;
  padding: 0px 10px;
}

/*LIST BLOCK*/
.list-block {
  margin: 0px 15vw;
}

.list-unit, .list-unit .list-stats {
  width: 100%;
}

.list-unit .list-status-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: transparent;
}

.list-unit .list-status-title .text {
  width: auto;
  height: auto;
  color: var(--theme-accent);
  padding: 25px;
  font-family: var(--main-font);
  font-weight: 800;
  font-size: 24px;
}

.list-unit .list-status-title .stats {
  position: initial;
  margin-right: 25px;
  height: auto;
  width: auto;
}

.list-unit .list-status-title .stats a {
  padding: 10px;
  transition: var(--transition-length);
  color: var(--theme-accent);
  font-weight: 700;
  display: inline-block;
  line-height: 1.2;
}

.list-unit .list-status-title .stats a:hover {
  background-color: var(--theme-accent);
  color: white;
  box-shadow: var(--accent-shadow);
  transform: var(--hover-transform);
}

.list-unit .list-status-title .stats #show-stats-button {
  margin-right: 15px;
}

#show-stats-button .fa, #advanced-options-button .fa {
  margin-right: 5px;
  font-weight: normal;
}

.list-unit .list-status-title .stats #advanced-options-button {
  margin-right: 0px;
}

.list-unit .list-stats {
  background-color: white;
  color: #323232;
  padding: 0px 25px 25px 25px;
  width: auto;
  text-align: left;
  font-size: 14px;
}

tbody {
  display: contents;
}

.list-table {
  border: 0px;
  display: flex;
  flex-wrap: wrap;
}

tr.list-table-header {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
  margin-bottom: 10px;
}

tr.list-table-header::before {
  content: 'Sort by:';
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 25px;
  font-size: 12px;
  font-weight: 700;
}

.list-table .list-table-header .header-title {
  background: none;
  width: auto;
  height: auto;
}

.list-table .list-table-header .header-title.number, .list-table .list-table-header .header-title.title, .list-table .list-table-header .header-title.score, .list-table .list-table-header .header-title.type, .list-table .list-table-header .header-title.progress, .list-table .list-table-header .header-title.chapters, .list-table .list-table-header .header-title.volumes, .list-table .list-table-header .header-title.priority, .list-table .list-table-header .header-title.tags {
  width: auto;
  border: 0px;
  padding: 0px;
}

.list-table .list-table-header .header-title.status, .list-table .list-table-header .header-title.image, .list-table .list-table-header .header-title.number, .list-table .list-table-header .header-title.tags {
  display: none;
}

.list-table .list-table-header .header-title .link.sort {
  font-family: var(--main-font);
  font-size: 11px;
  padding: 10px;
  margin-right: 10px;
  transition: var(--transition-length);
  line-height: 1.1;
}

.list-table .list-table-header .header-title .link.sort:hover {
  background: var(--theme-accent);
  color: white;
   box-shadow: 0px 0px 8px 2px rgba(64,101,186,0.5);
   transform: var(--hover-transform);
}

.list-table .list-table-header .header-title .link.sort:hover i {
  color: white;
}

.list-table .list-table-header .header-title .sort-icon {
  margin-left: 5px;
  color: var(--theme-accent);
}

.fa-sort-up:before, .fa-sort-asc:before {
  content: '\f077'!important;
  font-family: FontAwesome;
  font-size: 12px;
}

.fa-sort-down:before, .fa-sort-desc:before {
  content: '\f078'!important;
  font-family: FontAwesome;
  font-size: 12px;
}

.list-table .list-table-header .header-title .link.sort i:first-child::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 3px;
  width: calc(100% - 16px);
  margin-left: 8px;
  height: 2px;
  background: var(--theme-accent);
  box-shadow: 0px 1px 4px rgba(64,101,186,0.5);
}


.list-table .list-item {
  transform: translateY(0px);
  display: flex;
  width: calc(50% - 30px);
  /*min-width: 400px;*/
  height: 222px;
  background: var(--card-color);
  margin: 15px;
  transition: var(--transition-length);
  position: relative;
  overflow-y: hidden;
  /*animation: expand-up 0.2s forwards;*/
  /*animation-timing-function: ease-out;*/
}

.list-table > tbody:nth-of-type(2n+1) {
  background: var(--card-color);
}

.list-table .list-item:hover {
  box-shadow: var(--gray-shadow);
  transform: var(--card-hover-transform) !important;
  background: var(--card-hover-color);
}

.list-table .list-table-data {
  display: grid;
  /*grid-template-columns: auto 1fr 1fr;*/
  /*grid-template-rows: 1fr 0.1fr;*/
  grid-template-columns:  min-content min-content min-content min-content auto;
  grid-template-rows: max-content max-content max-content max-content auto;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  /*padding: 10px;*/
}

.list-table .list-table-data .data {
  display: inline-block;
  border: 0px;
  padding: 0px;
}

.list-table .list-table-data .data.image {
  grid-area: 1 / 1 / 6 / 1;
  align-self: start;
  margin-right: 20px;
}

.list-table .list-table-data .data.status {
  width: 3px;
  height: 20px;
  display: block;
  padding: 0px;
  grid-area: 1 / 2 / 1 / 4;
  justify-self: start;
  align-self: center;
  margin: 12px 0px 2px 0px;
}

.list-table .list-table-data .data.number {
   grid-area: 1 / 2 / 1 / 4;
   align-self: start;
   justify-self: start;
   margin: 13px 5px 2px 10px;
   font-weight: 700;
   font-size: 14px;
}


.list-table .list-table-data .data.image .image {
  width: calc(100% - 158px);
  height: 100%;
  /*visibility: none;*/
  border: 0px;
  position: absolute;
  z-index: -10;
  right: 0;
  top: 0;
  object-fit: cover;
  object-position: 100% 0%;
  filter: blur(15px);
  opacity: 0;
  transition: all var(--card-hover-fade), object-position var(--card-hover-animation);
}

.list-item:hover .data.image .image{
  opacity: 0.2;
  object-position: 100% 50%;
}

.data.image a:before {
  content: "image_not_supported";
  font-size: 50px;
  font-family: 'Material Icons Sharp';
  position: absolute;
  left: calc((158px / 2) - 25px);
  top: calc((222px / 2) - 25px);
  z-index: -1;
  color: rgba(0,0,0,0.15);
}

.data.image a:after {
  z-index: 10;
  content: "";
  width: 158px;
  height: 222px;
  display: block !important;
  background-position: center !important;
background-repeat: no-repeat !important;
background-size: cover;
z-index: 1000;
transition: var(--transition-length);
}

.list-table .list-table-data .data.title {
  grid-area: 2 / 2 / 2 / 6;
  /*margin: 5px 0px 10px 20px;*/

  /*display: flex;*/
  padding: 0;
  margin: 10px 20px 0px 0px;
  /*height: fit-content;*/
}

.list-table .list-table-data .data.title .link {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--theme-accent);
}

.list-table .list-table-data .data.title .link:hover {
  text-decoration: underline;
}

.list-table .list-table-data .data.title .rewatching, .list-table .list-table-data .data.title .rereading, .list-table .list-table-data .data.title .content-status {
  color: rgb(100,100,100);
  font-size: 11px;
  font-weight: 600;
}

.list-table .list-table-data .data.title .rewatching {
  margin-right: 10px;
}

.list-table .list-table-data .data.score, .list-table .list-table-data .data.type, .list-table .list-table-data .data.progress, .list-table .list-table-data .data.chapter, .list-table .list-table-data .data.volume, .list-table .list-table-data .data.priority {
  margin: 5px 0px 5px 0px;
  justify-self: start;
  margin-right: 10px;
  background: rgba(0,0,0,0.07);
  line-height: 1;
  /*padding: 6px;*/
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 12px;
  transition: var(--transition-length);
}

.list-table .list-table-data .data.score a span, .list-table .list-table-data .data.chapter a span {
  font-size: 12px;
  color: var(--theme-accent);
}

/*.list-table .list-table-data .data.score select {*/
/*  border-radius: 0;*/
  /*padding: 3px;*/
/*  outline: none;*/
/*  border: 1px solid rgb(200,200,200);*/
/*  padding: 2px;*/
/*  font-size: 12px;*/
/*}*/

.list-table .list-table-data input, .list-table .list-table-data select, .list-table .list-table-data .tags textarea {
    border-radius: 0;
  /*padding: 3px;*/
  outline: none;
  border: 0px solid var(--theme-accent);
  font-family: var(--main-font);
  font-size: 12px;
  padding: 3px;
  /*box-shadow: var(--gray-shadow);*/
  box-shadow: var(--gray-shadow);
  text-align: center;
  font-weight: 700;
  background: white;
}

/*.list-table .list-table-data .data.score:focus-within {*/
/*  padding: 0;*/
/*}*/

.list-table .list-table-data .data.score::after,.list-table .list-table-data .data.type::after, .list-table .list-table-data .data.progress::after, .list-table .list-table-data .data.chapter::after, .list-table .list-table-data .data.volume::after,  .list-table .list-table-data .data.priority::after, .add-edit-more .edit::after, .add-edit-more .more::after, .add-edit-more .add::after{
  position: absolute;
  padding: 7px;
  background: rgb(255,255,255);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15);
  visibility: collapse;
  opacity: 0;
  transition: var(--transition-length);
  transform: translateY(20px);
  font-size: 11px;
  font-weight: 700;
  color: rgb(50,50,50);
  pointer-events: none;
}

.list-table .list-table-data .data.score:hover::after,.list-table .list-table-data .data.type:hover::after, .list-table .list-table-data .data.progress:hover::after, .list-table .list-table-data .data.chapter:hover::after, .list-table .list-table-data .data.volume:hover::after,  .list-table .list-table-data .data.priority:hover::after, .add-edit-more .edit:hover::after, .add-edit-more .more:hover::after, .add-edit-more .add:hover::after {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
}

.add-edit-more .edit::after {
  content: "Edit";
  bottom: -20px;
  left: 0px;
}

.add-edit-more .more::after {
  content: "More";
  bottom: -20px;
  left: 0px;
}

.add-edit-more .add::after {
  content: "Add";
  bottom: -20px;
  left: 0px;
}

.list-table .list-table-data .data.score::after {
  content: "Score";
  top: -30px;
  left: 0px;
}

.list-table .list-table-data .data.type::after {
  content: "Type";
  top: -30px;
  left: 0px;
}

.list-table .list-table-data .data.progress::after {
  content: "Progress";
  top: -30px;
  left: 0px;
}

.list-table .list-table-data .data.chapter::after {
  content: "Chapter";
  top: -30px;
  left: 0px;
}

.list-table .list-table-data .data.volume::after {
  content: "Volume";
  top: -30px;
  left: 0px;
}

.list-table .list-table-data .data.priority::after {
  content: "Priority";
  top: -30px;
  left: 0px;
}

.icon-watch, .icon-watch-pv {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  height: 20px !important;
  text-indent: 0px !important;
  background: none !important;
  margin: 0 !important;
  visibility: collapse !important;
  display: flex !important;
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-decoration: none !important;
  align-items: center;
  margin-bottom: 5px !important;
}

.icon-watch::before, .icon-watch-pv::before {
  content: 'play_circle_outline';
  font-family: "Material Icons Sharp";
  visibility: visible;
  float: left;
  margin-right: 5px;
  color: rgb(50,50,50);
  font-size: 16px;
  order: 2;
  transition: var(--transition-length);
}

.icon-watch::after, .icon-watch-pv::after {
  content: 'Watch';
  font-family: var(--main-font);
  visibility: visible;
  float: left;
  font-size: 0.9em;
  color: rgb(75,75,75);
  font-weight: 700;
  order: 1;
  transition: var(--transition-length);
  height: 16px;
}

.icon-watch:hover, .icon-watch-pv:hover {
  opacity: 1 !important;
}

.icon-watch:hover::before, .icon-watch-pv:hover::before, .icon-watch:hover::after, .icon-watch-pv:hover::after  {
  color: #2db039;
}

.list-table .list-table-data .data.title .add-edit-more {
  margin: 0;
  float: none;
  visibility: collapse;
  position: absolute !important;
  top: 13px;
  right: 20px;
  line-height: 0.75;
  /*display: flex;*/
  /*flex-direction: row;*/
}

.add-edit-more .add, .add-edit-more .edit, .add-edit-more .more{
  line-height: 1;
  visibility: visible;
  z-index: 1;
}

span.edit a, span.more a, span.add a{
   color: rgb(75,75,75);
   /*display: flex;*/
   /*padding: 7px;*/
   display: inline-block;
   visibility: collapse;
   width: 26px;
}

span.edit a::before, span.more a::before, span.add a::before {
  color: rgb(75,75,75);
  font-family: 'Material Icons Sharp';
  font-size: 20px;
  font-weight: normal;
  transition: var(--transition-length);
  /*background: rgb(225,225,225);*/
}

span.edit a::before {
  content: "create";
  visibility: visible;
}

span.more a::before {
  content: "more_horiz";
  visibility: visible;
}

span.add a::before {
  content: "add";
  visibility: visible;
}

/*span.edit a:hover, span.more a:hover, span.add a:hover, span.edit a:hover::before, span.more a:hover::before, span.add a:hover::before{*/
/*   color: #1d439b;*/
/*}*/

.list-table .list-table-data a:not(.edit-disabled):hover {
  text-decoration: none;
}

.add-edit-more a:not(.edit-disabled):hover, .add-edit-more a:not(.edit-disabled):hover::before {
  text-decoration: none;
  color: var(--theme-accent);
  /*background: #4065BA;*/
  text-shadow: 0px 0px 4px rgba(64,101,186,0.5);
}

.list-table .list-table-data .data.score {
  grid-area: 3 / 2 / 3 / 2;
}

.list-table .list-table-data .data.score a, .list-table .list-table-data .data.type, .list-table .list-table-data .data.progress div span:only-child, .data.chapter div span:only-child, .data.volume div span:only-child {
  padding: 6px;
}

.list-table .list-table-data .data.chapter a:not(.icon-add-chapter), .list-table .list-table-data .data.volume a:not(.icon-add-volume), .list-table .list-table-data .data.progress a:not(.icon-add-episode){
  padding: 6px 0px 6px 6px;
}

.list-table .list-table-data .data.chapter span:nth-of-type(2), .list-table .list-table-data .data.volume span:nth-of-type(2), .list-table .list-table-data .data.progress span:nth-of-type(2) {
  padding: 0px 6px 0px 0px;
}

.icon-add-chapter, .icon-add-volume, .icon-add-episode{
  padding: 6px 6px 6px 0px;
}

.list-table .list-table-data .data.type, .list-table .list-table-data .data.chapter{
  grid-area: 3 / 3 / 3 / 3;
}

.list-table .list-table-data .data.progress, .list-table .list-table-data .data.volume {
  grid-area: 3 / 4 / 3 / 4;
}

.list-table .list-table-data .data.progress a, .list-table .list-table-data .data.volume a, .list-table .list-table-data .data.chapter a{
  color: var(--theme-accent);
}

.list-table .list-table-data .data.tags {
  justify-self: start;
  align-self: center;
  /*display: flex;*/
  /*flex-direction: row;*/
}

.list-table .list-table-data .data.tags {
  grid-area: 4 / 2 / 4 / 6;
  margin: 5px 20px 20px 0px;
  text-align: left;
  /*width: 100%;*/
  display: flex;
}

.list-table .list-table-data .data.tags > div {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}

.list-table .list-table-data .data.tags span {
  /*margin-right: 5px;*/
  visibility: collapse;
  font-size: 0px;
}

.list-table .list-table-data .data.tags span a {
  visibility: visible;
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid var(--theme-accent);
  color: var(--theme-accent);
  line-height: 1;
  border-radius: 20px;
  margin: 0px 5px 5px 0px;
  width: auto;
}

.list-table .list-table-data .data.priority {
  grid-area: 3 / 5 / 3 / 5;
  padding: 6px;
}

.list-table .list-table-data .data.tags a:not(.edit) {
  font-size: 10px;
  transition: var(--transition-length);
}

.list-table .list-table-data .data.tags a:not(.edit):hover {
  background: var(--theme-accent);
  color: white;
  box-shadow: var(--accent-shadow);
  /*transform: var(--hover-transform);*/
}

.list-table .list-table-data .data.tags textarea {
  width: 100%;
  height: 100%;
  max-height: 45px;
  max-width: 200px;
  grid-area: 4 / 2 / 4 / 3;
  /*position: absolute;*/
  font-size: 11px;
  padding: 5px;
  text-align: left;
}

.list-table .list-table-data .tags .edit {
  width: auto;
  text-align: left;
  color: rgb(75, 75, 75);
  transition: var(--transition-length);
  font-weight: 700;
  font-family: var(--main-font);
  font-size: 11px;
  display: flex;
  line-height: 1;
  margin: 5px 0px 0px 0px;
  height: fit-content;
}

.list-table .list-table-data .tags .edit:hover {
  color: var(--theme-accent) !important;
}

.list-table .list-table-data .tags .edit::before {
  content: 'local_offer';
  font-family: "Material Icons Sharp";
  margin-right: 5px;
  font-weight: normal;
}

.list-table .list-table-data .tags .edit::after {
  content: " Tags";
  margin-left: 3px;
}


.list-table .more-info {
  overflow-y: scroll;
  width: calc(100% - 158px);
  height: 222px;
  right: 0;
  border: 0px;
  position: absolute;
  background-color: rgb(245,245,245);
  animation: expand var(--transition-length) forwards;
  animation-timing-function: ease-out;
  /*box-shadow: -2px 0px 6px 0px rgba(0,0,0,0.15);*/
  /*clip-path: inset(0% 0% 0% -20%);*/
  /*border: 1px solid rgb(220,220,220);*/
}

.list-table .more-info .more-content {
  padding: 10px 20px;
}

.list-table .more-info a {
  color: var(--theme-accent);
}

.list-table .more-info a:hover {
  text-decoration: underline;
}

.list-table .more-info a:first-child {
  font-weight: bold;
  margin: 5px 0px 10px 0px;
  /*display: inline-block;*/
  font-size: 14px;
  vertical-align: middle;
  display: flex;
  width: fit-content;
  color: rgb(75, 75, 75);
  transition: var(--transition-length);
}

.list-table .more-info a:first-child::before {
  content: 'comment';
  font-family: "Material Icons Sharp";
  margin-right: 5px;
  font-weight: normal;
}

.list-table .more-info a:first-child:hover {
  color: var(--theme-accent);
  text-decoration: none;
}

@keyframes expand {
   from { opacity: 0; transform: translateY(10px);}
   to { opacity: 1; transform: translateY(0px);}
}

#footer-block {
  background: rgb(245,245,245);
  color: #4065BA;
}

#copyright {
  color: #4065BA;
}

#advanced-options {
  padding: 0px;
  background-color: white;
  border: 0px;
  animation: expand-up var(--transition-length) forwards;
  animation-timing-function: ease-out;
  /*position: fixed;*/
  top: 50px;
}

@keyframes expand-up {
   from { opacity: 0; transform: translateY(40px);}
   to { opacity: 1; transform: translateY(0px);}
}

#fancybox-outer {
   animation: expand-up var(--transition-length) forwards;
  animation-timing-function: ease-out;
}

#fancybox-close {
  right: 5% !important;
  top: 5% !important;
  width: auto !important;
  height: auto !important;
  background: white !important;
}

#fancybox-close::after {
  content: "close";
  font-family: "Material Icons Sharp";
  font-size: 28px;
  margin-left: auto;
  margin-right: auto;
  color: #323232;
  transition: var(--transition-length);
}

#fancybox-close:hover::after {
  color: var(--theme-accent);
  text-shadow: 0px 0px 4px rgba(64,101,186,0.5);
}

#advanced-options .advanced-options-header {
  width: auto;
  height: auto;
  color: var(--theme-accent);
  padding: 25px 50px 25px 50px;
  font-family: var(--main-font);
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border: 0px;
}

#advanced-options .advanced-options-header .description {
  text-transform: none;
  margin-left: 25px;
  color: #323232;
}

#advanced-options .filter-widget, #advanced-options .sort-widget {
  padding: 20px 0px 0px 0px;
}

#advanced-options .filter-widget.title, #advanced-options .sort-widget.first {
  padding: 0px;
}

#advanced-options .sort-widget:last-of-type, #advanced-options .filter-widget:last-of-type {
  padding-bottom: 0px;
}

#advanced-options .sort-widget .widget-header, #advanced-options .filter-widget .widget-header{
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 700;
}

#advanced-options .filter-widget .text {
  font-family: var(--main-font);
  font-size: 12px;
}

#advanced-options input[type=text], #advanced-options .filter-widget select, #advanced-options .sort-widget select {
  height: auto;
  padding: 10px;
  border-radius: 0px;
  /*border: 0px;*/
  border: 1px solid transparent;
  /*background-color: rgb(240,240,240);*/
  font-family: var(--main-font);
  background-size: 15px 5px;
  background-position: center right 5px;
  font-size: 12px;
  transition: all var(--transition-length), background-position 0s;
  background-color: rgb(240,240,240);
}

#advanced-options select option {
  background-color: white;
  color: black;
}

#advanced-options input[type=text]:hover, #advanced-options select:hover{
   box-shadow: var(--gray-shadow);
}

#advanced-options input[type=text]:focus, #advanced-options select:focus{
   /*box-shadow: var(--accent-shadow);*/
   box-shadow: var(--accent-shadow);
   background-color: var(--theme-accent);
   outline: none;
   color: white;
}

#advanced-options select:disabled {
  background: white;
  border: 1px solid rgb(240,240,240);
}

#advanced-options select:disabled:hover {
  cursor: no-drop;
  box-shadow: none;
}

/*#advanced-options .filter-widget select option, #advanced-options .sort-widget select option {*/
/*  background: white;*/
/*  color: black;*/
/*}*/

#advanced-options .sort-widget input[type=radio] + label {
  border-radius: 0px;
  padding: 10px;
  font-family: var(--main-font);
  transition: var(--transition-length);
  margin-right: 10px;
  border: 1px solid rgb(220,220,220);
}

#advanced-options .sort-widget input[type=radio] + label .fa {
  margin-right: 5px;
}

#advanced-options .sort-widget input[type=radio]:disabled + label, #advanced-options .sort-widget input[type=radio]:checked:disabled + label, #advanced-options .sort-widget input[type=radio]:checked:disabled + label{
  border: 1px solid rgb(240,240,240);
  cursor: no-drop;
  color: rgb(240,240,240);
  box-shadow: none;
}

#advanced-options .sort-widget input[type=radio]:enabled:hover + label {
  background: rgb(240,240,240);
  box-shadow: var(--gray-shadow);
  border: 1px solid rgb(240,240,240);
}

#advanced-options .sort-widget input[type=radio]:enabled:checked + label, #advanced-options .sort-widget input[type=radio]:enabled:checked:hover + label {
  box-shadow: 0px 0px 8px 0px rgba(64,101,186,0.5);
  background: var(--theme-accent);
  border: 1px solid var(--theme-accent);
}

#advanced-options .sort-widget input[type=radio]:checked:hover + label {
  background: var(--theme-accent);
}

#advanced-options .sort-widget input[type=radio]:checked:disabled + label:hover, #advanced-options .sort-widget input[type=radio]:disabled + label:hover{
  background: transparent;
}

#advanced-options .advanced-options-button {
  margin-top: 25px;
  width: auto;
  display: flex;
  flex-direction: row-reverse;
  padding: 25px 50px 25px 50px;
  background: rgb(245,245,245);
  border: 0px;
}

#advanced-options .btn-apply, #advanced-options .btn-clear {
  border-radius: 0px;
  padding: 10px;
  width: 80px;
  margin: 0px;
  font-family: var(--main-font);
  font-weight: 700;
  transition: var(--transition-length);
}

#advanced-options .btn-apply {
  background: var(--theme-accent);
}

#advanced-options .btn-apply:hover {
  background: var(--theme-accent);
 box-shadow: var(--accent-shadow);
 transform: var(--hover-transform);
}


#advanced-options .btn-clear {
  margin-right: 20px;
  background: rgb(180,180,180);
}

#advanced-options .btn-clear:hover {
  background: #ec5b5b;
  box-shadow: 0px 0px 8px 2px rgba(236,91,91,0.5);
  transform: var(--hover-transform);
}

#advanced-options .btn-clear::before {
  content: "\f1f8";
  font-family: FontAwesome;
  margin-right: 10px;
  font-weight: normal;
}

#advanced-options .btn-apply::before {
  content: "\f00c";
  font-family: FontAwesome;
  margin-right: 10px;
  font-weight: normal;
}

@media only screen and (max-width: 1280px) {
  .list-block {
    margin: 0px 10vw;
  }
  .list-table .list-item {
    width: calc(100% - 30px);
    min-width: 400px;
  }
}
